[xtrabackup]
backup_dir = /var/lib/mysql-backup
restore_dir = /var/lib/mysql-restore
restore_conf = /etc/my-restore.cnf
restore_port = 3307
backup_sets = 3
backup_increments = 11
backup_user = backup
backup_password = zgf45euzg71
admin_user = admin
innobackup_bin = /usr/bin/innobackupex
xtrabackup_bin = /usr/bin/xtrabackup
mysql_user = mysql
binlog_dir = /var/lib/mysql
binlog_name=mysql-bin
